Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

Content/Characters
Content/AnimStarterPack
Content/ParagonWraith
Content/Robot02
Content/SoulCity
Content/Stage
Content/RadicalMike
Content/ParagonCrunch
Content/ParagonMinions


Content/Map_LeeYH
Content/Map_LeeYH/CyberpunkIndustries
Content/Map_LeeYH/Basic_VFX
Content/Map_LeeYH/SoulCity
